
ICF/vechdefs/vehicledef_ICF_Steiner_Light_Scout.json
ICF/vechdefs/vehicaldef_ICF_Steiner_basic_1.txt
ICF/chassisdefs/vehiclechassisdef_ICF_Steiner_Light_Scout.json
ICF/vechdefs/vehicaldef_ICF_Steiner_Light.json
