{
  "IncludeContractTypes": [],
  "ExcludeContractTypes": [],
  "LancePool": {
    "ALL": ["Generic_Medium_Battle_Lance", "Damaged_Medium_Battle_Lance"]
  },
  "Enemy": {
    "Max": 2,
    "ExcludeContractTypes": [],
    "ChanceToSpawn": 0.4,
    "EliteLances": {
      "Conditions": ["IsEnemy"],
      "Suffix": "_Elite",
      "Overrides": {
        "ChanceToSpawn": 0.6
      }
    },
    "LancePool": {
      "ALL": [
        "Generic_Medium_Battle_Lance"
      ],
      "CONTRACT_TYPE:DestroyBase": [
        "Brawler_Lance", "Defending_Lance"
      ],
      "CONTRACT_TYPE:DefendBase": [
        "Heavy_Missile_Lance", "Attacking_Lance"
      ],
      "BIOME:DesertParched": [
        "BBQ_Masters"
      ],
      "BIOME:LowlandsSpring": [
        "Im_Like_A_Turret_In_Water_I_Run_So_Hot"
      ],
      "FACTION:Davion:50:99": [
        "Heavy_Davion_Battle_Lance"
      ]
    }
  },
  "Allies": {
    "Max": 1,
    "ChanceToSpawn": 0.4,
    "EliteLances": {
      "Conditions": ["IsAlly"],
      "Overrides": {
        "Max": 2,
        "ChanceToSpawn": 0.6
      }
    },
    "LancePool": {
      "ALL": [
        "Generic_Medium_Battle_Lance"
      ],
      "CONTRACT_TYPE:DestroyBase": [
        "Heavy_Missile_Lance", "Attacking_Lance"
      ],
      "CONTRACT_TYPE:DefendBase": [
        "Brawler_Lance", "Defending_Lance"
      ]
    }
  }
}